/* Easy Slider */

.slider-wrap {
    border: 1px solid #CCC;
    width: 510px;
    height: 220px;
    margin: 10px;
}

.slider-wrap.numeric {
    border: none;
    height: auto;
}

.slider {
    background: #FFF;
    border: 10px solid #FFF;
    width: 490px !important;
    height: 200px !important;
}

.slider ul, .slider li {
    margin: 0;
    padding:0 !important;
    list-style:none;
    border: none !important;
    background: transparent;
    cursor: pointer;
}

.slider li img {
    border: none !important;
    background: transparent;
    padding: 0px;
}

.slider ul,
.slider li { 
    /* 
        define width and height of list item (slide)
        entire slider area will adjust according to the parameters provided here
    */ 
    width: 490px;
    height: 200px;
    overflow:hidden; 
}    
#prevBtn, #nextBtn { 
    display:block;
    width: 32px;
    height: 64px;
    position: absolute;
    margin-top: -115px;
}
#prevBtn { 
    margin-left: 5px;
}
#nextBtn { 
    margin-left: 473px;
}                                                        
#prevBtn a, #nextBtn a {  
    display: block;
    position: relative;
    width: 32px;
    height: 64px;
    text-indent: -1000px;
    background: url(../../images/slider/btn_prev.png) no-repeat -32px 0px;
}    
#nextBtn a { 
    background: url(../../images/slider/btn_next.png) no-repeat 0px 0px;    
}    
#easySliderControls {
    height: 64px;
    width: 510px;
    position: relative;
    top: -140px;
}

div.slider-blurb {
    margin-top: -210px;
    height: 170px;
    width: 420px;
    background: #000 !important;
    padding: 20px 35px;
    filter:alpha(opacity=90);
    -moz-opacity:0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
    display: none;
    cursor: pointer;
}

div.slider-blurb p,
div.slider-blurb h3 {
    color: #FFF;
    line-height: 18px;
    padding: 6px;
}
    
/* numeric controls */    

ol#controls {
    margin: 1em 0;
    padding: 0;
    height: 28px;    
}
ol#controls li{
    margin:0 10px 0 0; 
    padding:0;
    float:left;
    list-style:none;
    height:28px;
    line-height:28px;
}
ol#controls li a{
    float:left;
    height:28px;
    line-height:28px;
    border:1px solid #ccc;
    background:#DAF3F8;
    color:#555;
    padding:0 10px;
    text-decoration:none;
}
ol#controls li.current a{
    background:#5DC9E1;
    color:#fff;
}
ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}

/* // Easy Slider */